decord==0.6.0
iopath
matplotlib==3.7.0
nltk
numpy
omegaconf==2.3.0
openai
opencv-python==4.7.0.72
pandas
peft==0.2.0
Pillow
pycocoevalcap
pycocotools
PyYAML==6.0
requests
scipy
scikit-image
timm==0.6.13
torch==2.0.0
torchvision
tqdm==4.64.1
transformers==4.30.0
wandb
webdataset==0.2.48
